@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7T6bH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9p7TqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9qlTqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9rJTqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9olSabH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9ocSabH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9p7SabH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9pSSabH.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
.btn__transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2E353B;
  border-radius: 10px;
  gap: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #2E353B;
  padding: 12px 32px 14px 32px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn__transparent:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: transparent;
  z-index: -2;
}
.btn__transparent:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to right, #FF8C39, #FF5C5C);
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.btn__transparent:hover {
  color: #FFF;
  border-color: transparent;
}
.btn__transparent:hover .icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}
.btn__transparent:hover:before {
  width: 100%;
}
.btn__gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #F7F7F7;
  padding: 14px 28px 14px 28px;
  background-image: linear-gradient(to right, #FF8C39 10%, #FF5C5C 90%, #f83030 100%);
  background-size: 150% auto;
  transition: all linear 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn__gradient:hover {
  color: #f7f7f7FF;
  background-position: right center;
}
.btn__white {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #2E353B;
  padding: 14px 28px 14px 28px;
  background-color: #f7f7f7;
}
.btn__white:hover {
  color: #2E353B;
}
.btn__green {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #f7f7f7;
  padding: 14px 72px 14px 72px;
  background-image: linear-gradient(to right, #0ACF83 30%, #10B475 85%, #2E353B 100%);
  background-size: 200% auto;
  transition: all linear 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn__green:hover {
  color: #f7f7f7FF;
  background-position: right center;
}
.tag__green {
  padding: 6px 10px 5px 10px;
  border-radius: 10px;
  background-color: #0ACF83;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  width: fit-content;
  color: #f7f7f7;
  line-height: 137%;
}
.tag__coral {
  padding: 3px 8px 3px 8px;
  border-radius: 6px;
  background-color: #FF5C5C;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
  color: #f7f7f7;
  line-height: 137%;
}
.tag__orange {
  padding: 3px 8px 3px 8px;
  border-radius: 6px;
  background-color: #FF8C39;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
  color: #f7f7f7;
  line-height: 137%;
}
.tag__orange-2 {
  padding: 6px 10px 5px 10px;
  border-radius: 10px;
  background-color: #FF8C39;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  width: fit-content;
  color: #f7f7f7;
  line-height: 137%;
}
.float__whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 65px;
  height: 65px;
  background-color: #25D366;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  z-index: 100;
  transition: all linear 0.15s;
  border: 0;
  border-radius: 100%;
}
.float__whatsapp img {
  width: 36px;
}
.float__whatsapp:hover {
  background-color: white;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.5);
}
.float__whatsapp:hover img {
  filter: brightness(0) saturate(100%) invert(65%) sepia(29%) saturate(3698%) hue-rotate(93deg) brightness(110%) contrast(71%);
}
@media (max-width: 1200px) {
  .float__whatsapp {
    width: 45px;
    height: 45px;
  }
  .float__whatsapp img {
    width: 35px;
  }
}
@keyframes effect--fade_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes effect--fade_top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.page__header {
  position: absolute;
  width: 100%;
}
.page__header .wrapper {
  max-width: 1257px;
  padding: 32px 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.page__header .wrapper .logo {
  width: 222px;
}
.page__header .wrapper .logo a {
  width: 100%;
}
.page__header .wrapper .logo a img {
  width: 100%;
}
.page__header .wrapper .is--desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 62px;
  width: 800px;
}
.page__header .wrapper .is--desktop .links {
  display: flex;
  gap: 42px;
}
.page__header .wrapper .is--desktop .links a {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all linear 0.15s;
  color: #FFFDFA;
  line-height: 134%;
}
.page__header .wrapper .is--desktop .links a:hover {
  cursor: pointer;
  color: #E9B970;
}
.page__header .wrapper .is--desktop .button {
  width: 280px;
  border-radius: 4px;
  background-color: #B58740;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 42px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%;
  text-transform: uppercase;
  transition: all linear 0.15s;
  color: #FFFDFA;
}
.page__header .wrapper .is--desktop .button:hover {
  background-color: #c79f61;
  color: #FFFDFA;
}
.page__header .wrapper .is--mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  .page__header .wrapper {
    padding: 24px 28px;
  }
  .page__header .wrapper .logo {
    width: 140px;
  }
  .page__header .wrapper .is--mobile {
    display: block;
    flex-grow: 0;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer img {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay {
    background: linear-gradient(to bottom, #885F20 -4.27%, #B58740 102.58%);
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    z-index: 3001;
    display: none;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: effect--fade_in_right;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden !important;
    transition: all linear 0.5s;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content {
    overflow-y: auto !important;
    height: 90%;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px 109px 30px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
    margin: 0;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links {
    gap: 12px;
    margin-bottom: 64px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all linear 0.15s;
    color: #FFFDFA;
    line-height: 134%;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a:hover {
    cursor: pointer;
    color: #E9B970;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .social__links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .social__links .social__link {
    width: 40px;
  }
  .page__header .wrapper .is--desktop {
    display: none;
  }
}
.hero {
  background-image: url('../img/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0 center;
}
.hero .wrapper {
  max-width: 1025px;
  margin: 0 auto;
  padding: 264px 16px 128px 16px;
  display: flex;
  justify-content: center;
  gap: 0;
}
.hero .wrapper .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
}
.hero .wrapper .content .heading {
  width: 414px;
}
.hero .wrapper .content .heading .title {
  color: #FFFDFA;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%;
}
.hero .wrapper .content .heading .title span {
  color: #E9B970;
}
.hero .wrapper .content .divider {
  height: 200.056px;
  width: 1px;
  background-color: #E9B970;
}
.hero .wrapper .content .text {
  width: 387px;
}
.hero .wrapper .content .text .description {
  color: #FFFDFA;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
}
.hero .wrapper .content .text .description span {
  font-weight: 700;
}
.hero .button {
  width: 100%;
  padding-bottom: 90px;
}
.hero .button .btn__down {
  margin: 0 auto;
  width: fit-content;
}
.hero .button .btn__down .arrow__down {
  width: fit-content;
}
@media (max-width: 900px) {
  .hero {
    background-image: url('../img/banner-mobile.png');
    background-position: center center;
  }
  .hero .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 144px 24px 54px 24px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .hero .wrapper .content {
    padding-top: 0;
    width: 100%;
    max-width: 725px;
    text-align: center;
  }
  .hero .wrapper .content .title {
    font-size: 32px;
    margin-bottom: 16px;
    letter-spacing: 1px;
  }
  .hero .wrapper .content .description {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 32px;
  }
  .hero .wrapper .content .buttons .btn__gradient {
    width: 100%;
    padding: 14px 18px;
  }
  .hero .wrapper .content .bottom {
    width: 100%;
    justify-content: center;
    margin-top: 42px;
  }
  .hero .wrapper .cover {
    width: 100%;
    max-width: fit-content;
  }
}
@media (min-width: 1560px) {
  .hero .wrapper {
    margin: 0 auto;
  }
}
.page__team {
  padding: 100px 0;
}
.page__team .wrapper {
  max-width: 1242px;
  padding: 0 16px;
  margin: 0 auto;
}
.page__team .wrapper .title {
  color: #E9B970;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  /* 26.6px */
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.page__team .wrapper .subtitle {
  color: #FFFDFA;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%;
  margin-bottom: 40px;
  max-width: 717px;
  margin: 0 auto 40px auto;
}
.page__team .wrapper .owl-carousel.owl-theme.team__carousel .owl-dots {
  display: none;
}
.page__team .wrapper .owl-carousel.owl-theme.team__carousel .card__team {
  width: 382px;
  height: 591px;
  border-radius: 4px;
  background-color: #FFFDFA;
  padding: 10px;
  position: relative;
}
.page__team .wrapper .owl-carousel.owl-theme.team__carousel .card__team .team__photo {
  width: 100%;
  height: 382px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
}
.page__team .wrapper .owl-carousel.owl-theme.team__carousel .card__team .team__name,
.page__team .wrapper .owl-carousel.owl-theme.team__carousel .card__team .team__role {
  font-size: 16px;
  color: #101010;
  font-style: normal;
  font-weight: 700;
  line-height: 134%;
  padding-left: 10px;
}
.page__team .wrapper .owl-carousel.owl-theme.team__carousel .card__team .team__role {
  margin-bottom: 6px;
}
.page__team .wrapper .owl-carousel.owl-theme.team__carousel .card__team .team__text {
  color: #101010;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 134%;
  padding-left: 10px;
}
.page__team .wrapper .owl-carousel.owl-theme.team__carousel .card__team .mail__link {
  position: absolute;
  bottom: 16px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 134%;
  color: #101010;
  transition: all linear 0.15s;
}
.page__team .wrapper .owl-carousel.owl-theme.team__carousel .card__team .mail__link .icon {
  width: fit-content;
}
.page__team .wrapper .owl-carousel.owl-theme.team__carousel .card__team .mail__link:hover {
  color: #B58740;
}
.page__about {
  padding: 100px 0 200px 0;
  background-color: #FFFDFA;
}
.page__about .wrapper {
  display: flex;
  gap: 84px;
  align-items: center;
  justify-content: center;
  max-width: 1226px;
  padding: 0 16px;
  margin: 0 auto;
}
.page__about .wrapper .content {
  width: 606px;
}
.page__about .wrapper .content .title {
  color: #B58740;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  /* 26.6px */
  letter-spacing: 4px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.page__about .wrapper .content .subtitle {
  color: #101010;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%;
  margin-bottom: 16px;
}
.page__about .wrapper .content .text {
  color: #101010;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
  margin-bottom: 16px;
}
.page__about .wrapper .content .numbers {
  display: flex;
  gap: 74px;
  align-items: center;
}
.page__about .wrapper .content .numbers .number__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__about .wrapper .content .numbers .number__item .number {
  color: #B58740;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 122%;
}
.page__about .wrapper .content .numbers .number__item .number__text {
  color: #B58740;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 122%;
}
.page__about .wrapper .carousel {
  width: 502px;
}
.page__about .wrapper .carousel .owl-carousel.owl-theme.about__carousel {
  position: relative;
  margin-bottom: 55px;
}
.page__about .wrapper .carousel .owl-carousel.owl-theme.about__carousel .owl-nav {
  width: 118%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
  padding: 0 16px;
  position: absolute;
}
.page__about .wrapper .carousel .owl-carousel.owl-theme.about__carousel .owl-nav .owl-prev,
.page__about .wrapper .carousel .owl-carousel.owl-theme.about__carousel .owl-nav .owl-next {
  background-color: #B58740;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.page__about .wrapper .carousel .owl-carousel.owl-theme.about__carousel .owl-nav .owl-prev img,
.page__about .wrapper .carousel .owl-carousel.owl-theme.about__carousel .owl-nav .owl-next img {
  width: 28px;
}
.page__about .wrapper .carousel .owl-carousel.owl-theme.about__carousel .owl-dots {
  display: none;
}
.page__about .wrapper .carousel .owl-carousel.owl-theme.about__carousel .about__img {
  width: 100%;
  height: 383px;
  object-fit: cover;
  object-position: center;
}
.page__about .wrapper .carousel .button {
  width: 373px;
  border-radius: 4px;
  background-color: #B58740;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 42px 14px 42px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%;
  text-transform: uppercase;
  transition: all linear 0.15s;
  color: #FFFDFA;
  margin: 0 auto;
}
.page__about .wrapper .carousel .button:hover {
  background-color: #c79f61;
  color: #FFFDFA;
}
.page__about .wrapper .button {
  width: 240px;
  border-radius: 4px;
  background-color: #B58740;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 42px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%;
  text-transform: uppercase;
  transition: all linear 0.15s;
}
.page__about .wrapper .button:hover {
  background-color: #c79f61;
}
.page__services {
  background: linear-gradient(180deg, #000 0%, #101010 100%);
  background-repeat: no-repeat;
  padding: 100px 0;
}
.page__services .wrapper {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 16px;
}
.page__services .wrapper .title {
  color: #E9B970;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  /* 26.6px */
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.page__services .wrapper .subtitle {
  color: #FFFDFA;
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%;
  margin-bottom: 62px;
}
.page__services .wrapper .owl-carousel.owl-theme.services__carousel .owl-dots {
  display: none;
}
.page__services .wrapper .owl-carousel.owl-theme.services__carousel .card__service {
  width: 278px;
  height: 247px;
  background-color: #FFFDFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 24px 35px 24px;
  border-radius: 4px;
}
.page__services .wrapper .owl-carousel.owl-theme.services__carousel .card__service .icon {
  width: fit-content;
  margin-bottom: 8px;
}
.page__services .wrapper .owl-carousel.owl-theme.services__carousel .card__service .service__title {
  color: #595651;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%;
  margin-bottom: 10px;
}
.page__services .wrapper .owl-carousel.owl-theme.services__carousel .card__service .service__text {
  color: #595651;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134%;
}
.page__cta {
  padding: 56px 0 68px 0;
  background: url('../img/bg-cta.png'), linear-gradient(91deg, #885F20 -4.27%, #B58740 102.58%);
  background-repeat: no-repeat;
  background-position: right -25px bottom -10px, left 0 bottom 0;
}
.page__cta .wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__cta .wrapper .content {
  width: 538px;
}
.page__cta .wrapper .content .title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 127%;
  color: #FFFDFA;
}
.page__cta .wrapper .content .subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;
  color: #FFFDFA;
}
.page__cta .wrapper .button {
  width: 306px;
  border-radius: 4px;
  background-color: #FFFDFA;
  color: #B58740;
  padding: 16px 52px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%;
  text-transform: uppercase;
  text-align: center;
  transition: all linear 0.15s;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.page__cta .wrapper .button:hover {
  color: #B58740;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.35);
}
.page__footer {
  padding: 152px 0 48px 0;
  background-image: url('../img/bg-footer.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.page__footer .wrapper {
  max-width: 1206px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 154px;
}
.page__footer .wrapper .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
  width: 100%;
}
.page__footer .wrapper .content .contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 282px;
}
.page__footer .wrapper .content .contacts .contact__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFFDFA;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 134%;
  transition: all linear 0.15s;
}
.page__footer .wrapper .content .contacts .contact__link img {
  width: 18px;
}
.page__footer .wrapper .content .contacts .contact__link:hover {
  color: #E9B970;
}
.page__footer .wrapper .content .contacts .time {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFFDFA;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 134%;
}
.page__footer .wrapper .content .heading {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}
.page__footer .wrapper .content .heading .logo__footer {
  max-width: 390px;
}
.page__footer .wrapper .content .heading .social__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page__footer .wrapper .content .heading .social__links .social__link .icon {
  width: 40px;
}
.page__footer .wrapper .content .heading .social__links .social__link:hover .icon {
  filter: brightness(0) saturate(100%) invert(95%) sepia(73%) saturate(1106%) hue-rotate(310deg) brightness(99%) contrast(85%);
}
.page__footer .wrapper .content .address {
  width: 282px;
}
.page__footer .wrapper .content .address .address__text {
  color: #FFFDFA;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 134%;
  margin-bottom: 27px;
}
.page__footer .wrapper .content .address .link__location {
  color: #FFFDFA;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 134%;
  /* 24.12px */
  text-decoration-line: underline;
  transition: all linear 0.15s;
}
.page__footer .wrapper .content .address .link__location:hover {
  color: #E9B970;
}
.page__footer .wrapper .footer__copyrights {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__footer .wrapper .footer__copyrights .copyright {
  color: #FFFDFA;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 134%;
}
.page__footer .wrapper .footer__copyrights .logo__dev {
  width: 144px;
}
.page__footer .wrapper .footer__copyrights .logo__dev .logo__img {
  width: 100%;
}
body {
  background-color: #101010;
  font-family: 'Montserrat', sans-serif;
  color: #FFFDFA;
}
