//out: false

.hero {
    background-image: url('../img/bg-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 0 center;

    .wrapper {
        max-width: 1025px;
        margin-left: auto;
        margin-right: 28px;
        padding: 264px 16 90px 16px;
        display: flex;
        justify-content: center;
        gap: 0;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 60px;

            .heading {
                width: 414px;

                .title {
                    color: @branco;
                    font-size: 46px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 127%; 

                    span {
                        color: #E9B970;
                    }
                }
            }

            .divider {
                height: 200.056px;
                width: 1px;
                background-color: @secundaria;
            }

            .text {
                width: 387px;

                .description {
                    color: @branco;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 133%;

                    span {
                        font-weight: 700;
                    }
                }
            }
        }

        .btn-down {
            margin: 0 auto;
            width: fit-content;

            .arrow__down {
                width: fit-content;
            }
        }
    }

    @media (max-width: @tablet) {
        background-image: url('../img/banner-mobile.png');
        background-position: center center;

        .wrapper {
            margin-left: auto;
            margin-right: auto;
            padding: 144px 24px 54px 24px;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .content {
                padding-top: 0;
                width: 100%;
                max-width: 725px;
                text-align: center;

                .title {
                    font-size: 32px;
                    margin-bottom: 16px;
                    letter-spacing: 1px;
                }

                .description {
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    margin-bottom: 32px;
                }

                .buttons {
                    
                    .btn__gradient {
                        width: 100%;
                        padding: 14px 18px;
                    }
                }

                .bottom {
                    width: 100%;
                    justify-content: center;
                    margin-top: 42px;
                }
            }

            .cover {
               width: 100%;
               max-width: fit-content; 
            }
        }
    }

    @media (min-width: 1560px) {
        .wrapper {
            margin: 0 auto;
        }
    }
}
