// out: false

@desktop: 1200px;
@tablet: 900px;
@mobile: 375px;

// Cores principais
@primaria:    #B58740;
@secundaria:  #E9B970;
@terciaria:   #595651;
@hover:       lighten(@primaria, 10%);

// Neutros
@fundo:       #101010;
@texto:       #101010;
@branco:      #FFFDFA;

// Tipografia (opcional, mas ajuda muito)
@fonte-principal: 'Montserrat', sans-serif;